@{
    ViewData["Title"] = "Bem vindo a pagina do Ricardo";
}

<div class="text-center">
    <h1 class="display-4">Aqui mostrando sobre</h1>
    <p>Estude mais sobre ASP.NET Core no link: <a href="https://docs.microsoft.com/aspnet/core">Tudo sobre ASP.Net Core</a>.</p>
</div>
